$primary-green: #5C3317;
$primary-orange: #F987C5;
$white: #fff;
$gray-eighty: #ccc;
$gray-light: #999;
$gray-medium: #666;
$gray-dark: #333;
$black: #000;
$red: #e23d3d;
$gray-light-bg: #f5f5f5;
$gray-medium-bg: #f1f1f1;
$gray-dark-bg: #dddddd;
$green-light-bg: #775035;


$darkblue: #F987C5;
$fadedwhite: rgba(255,255,255,.7);
$accentcolor: #F987C5;
$fbcolor: #3A5A98;
$twcolor: #55ACEE;
